@page
@model WebApp.Pages.DoctorsModel
@{
    Layout = "_Layout";
}

<header class="header">
    <div class="logo-container">
        <img src="~/images/RuMED.png" alt="RuMED Logo" class="logo">
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="#about">About Us</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li class="login-button"><a asp-page="/Login">Login</a></li>
        </ul>
    </nav>
</header>

<section class="dashboard-header">
    <div class="dashboard-overlay">
        <h1>Doctors</h1>
    </div>
</section>

<section class="doctors-section">
    <form class="doctors-filter-form" action="/path-to-filter-results" method="get">
        <input type="text" name="doctorName" placeholder="Doctor Name" aria-label="Filter by Doctor Name">
        <input type="text" name="specialization" placeholder="Specialization" aria-label="Filter by Specialization">
        <input type="text" name="city" placeholder="City" aria-label="Filter by City">
        <input type="text" name="postalCode" placeholder="Postal Code" aria-label="Filter by Postal Code">
        <button type="submit" class="filter-btn">FILTER</button>
    </form>

    <div class="doctors-table-container">
        <table class="doctors-table">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Specialization</th>
                    <th>City</th>
                    <th>Postal Code</th>
                    <th>Clinic Address</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Appointment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doctor in Model.Doctors)
                {
                    <tr>
                        <td data-label="Doctor Name">@doctor.FirstName @doctor.LastName</td>
                        <td data-label="Specialization">@doctor.Specialization.ToString()</td>
                        <td data-label="City">@doctor.ClinicCity</td>
                        <td data-label="Postal Code">@doctor.ClinicPCode</td>
                        <td data-label="Clinic Address">@doctor.ClinicAddress</td>
                        <td data-label="Phone Number">@doctor.ClinicPhone</td>
                        <td data-label="Email">@doctor.EmailAddress</td>
                        <td><button class="schedule-btn">Schedule An Appointment</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<!--5nd part-->
<section class="info-section">
    <div class="info-overlay">
        <h2>We're determined for your better life.</h2>
        <p>You can get the care you need 24/7 - be it online or in person.</p>
        <p>You will be treated by caring specialist doctors.</p>
    </div>
</section>